
.icon-5-countries:before { content: '\e800'; } /* '' */
.icon-19-years:before { content: '\e801'; } /* '' */
.icon-analytics:before { content: '\e802'; } /* '' */
.icon-case-study:before { content: '\e803'; } /* '' */
.icon-become-a-partner:before { content: '\e804'; } /* '' */
.icon-certificates:before { content: '\e805'; } /* '' */
.icon-citizen-portal:before { content: '\e806'; } /* '' */
.icon-citizens-benefited:before { content: '\e807'; } /* '' */
.icon-facility-app:before { content: '\e808'; } /* '' */
.icon-feedback:before { content: '\e809'; } /* '' */
.icon-financial-management:before { content: '\e80a'; } /* '' */
.icon-ifix-dashboard:before { content: '\e80b'; } /* '' */
.icon-ifix-adaptor:before { content: '\e80c'; } /* '' */
.icon-ifix-platform:before { content: '\e80d'; } /* '' */
.icon-mgramseva:before { content: '\e80e'; } /* '' */
.icon-partners-100:before { content: '\e80f'; } /* '' */
.icon-program-setup:before { content: '\e810'; } /* '' */
.icon-property-tax-copy-2:before { content: '\e811'; } /* '' */
.icon-property-tax-copy:before { content: '\e812'; } /* '' */
.icon-property-tax:before { content: '\e813'; } /* '' */
.icon-public-money:before { content: '\e814'; } /* '' */
.icon-request-managment:before { content: '\e815'; } /* '' */
.icon-solutions:before { content: '\e816'; } /* '' */
.icon-whatsapp-chatbot:before { content: '\e817'; } /* '' */
